<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TTNavigatorFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TTNavigatorLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>498A2E43196E78DE004477C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>498A2E53196E78DE004477C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A194E61A64287D00690733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A194F01A64287D00690733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49D0FD6F1A8F42EA0058A046</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49D0FD791A8F42EB0058A046</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
